
<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <!-- 부트스트랩 스타일 시트 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="fragments/navHeader :: navHeader" />

    <div class="container">
        <h1>Admin Page 입니다. 환영합니다.</h1>
    </div>

    <!-- Bootstrap JavaScript -->
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

</body>
</html>
