<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="<c:url value='/css/bootstrap.min.css'/>">
    <title>요양원 알리미 웹페이지</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h2>요양원 알리미 관리자 페이지입니다</h2>
        <br>
        <p>
            <a class="btn btn-lg btn-secondary" href="/admin/users">사용자 목록</a>
        </p>
        <p>
            <a class="btn btn-lg btn-dark" href="/admin/facilities">요양원 목록</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div>

</body>
</html>